.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.3s all;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn:hover {
  background-color: #1b5ab9;
}

.collapse {
  overflow: hidden;
  transition: 0.2s height linear;
}
